// Colors
$dark-theme-white: #fff;
$dark-theme-10: #c4c4c4;
$dark-theme-20: #999;
$dark-theme-30: #6b6b6b;
$dark-theme-40: #454545;
$dark-theme-50: #333;
$dark-theme-60: #292929;
$dark-theme-black: #1c1c1c;
$light-theme-black: #292929;
$light-theme-10: #999;
$light-theme-20: #6b6b6b;
$light-theme-30: #c4c4c4;
$light-theme-40: #d1d1d1;
$light-theme-50: #ebebeb;
$light-theme-60: #f7f7f7;
$light-theme-white: #fafafa;
//Font

//Transitions
$ease-in-out: all 0.3s ease-in-out;
$linear: all 0.3s linear;

//Shadow


//Radius
$radius-16: 1rem;
